body {
    background-color: #f5f3e7;
    font-family: wayfinder-cf, serif;
    padding: 80px;
}
h1{
    text-align: left;
    color: #2c2c2c;
    font-size: 250px;
    font-style: normal;
    font-weight: 800;
    margin: 0px;
}
h2{
    text-align: left;
    color: #2c2c2c;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    margin: 0px;
}
h3{
    text-align: left;
    color: #2c2c2c;
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    margin: 0px;
}
h4{
    text-align: left;
    color: #2c2c2c;
    font-size: 110px;
    font-style: normal;
    font-weight: 600;
    margin: 0px;
}
h5{
    text-align: left;
    color: #2c2c2c;
    font-size: 110px;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
}
h6{
    text-align: left;
    color: #2c2c2c;
    font-size: 110px;
    font-style: normal;
    font-weight: 800;
    margin: 0px;
}

img {
    max-width: 70%;
    float: right;
    padding-right: 800px;
    padding: 100px;
}

a{
    color:#2c2c2c;
}