body {
    background-color: #f5f3e7;
    font-family: wayfinder-cf, serif;
    padding: 60px;
}


h1{
    text-align: left;
    color: #2c2c2c;
    font-size: 100px;
    font-family: katarine-web, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin: -5px;

}
h2{
    text-align: left;
    color: #2c2c2c;
    font-size: 100px;
    font-family: katarine-web, sans-serif;
    font-style: italic;
    font-weight: 600;
    margin: -5px;
}

h3{
    text-align: left;
    color: #2c2c2c;
    font-size: 30px;
    font-family: katarine-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: -5px;
}



a{
    color:#2c2c2c;
}


    
    