
body {
  background-color: #f5f3e7;
  font-family: wayfinder-cf, serif;
  padding: 60px;
}

h1{
  text-align: right;
  color: #488e6b;
  font-family: katarine-web,sans-serif;
  font-weight: 400;
  font-size: 200;
  font-style: normal;
  margin: 0px;
}

h2{
  text-align: right;
  color: #488e6b;
  font-family: katarine-web,sans-serif;
  font-weight: 600;
  font-size: 100;
  font-style: italic;
  margin: 0px;
}

img {
  max-width: 100%;
  float: center;
  padding-left: 0px;
  padding-bottom: 30px;
}